<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StatisticsSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="StatisticsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/Statistics.asmx"
                binding="basicHttpBinding" bindingConfiguration="StatisticsSoap"
                contract="ServiceReference1.StatisticsSoap" name="StatisticsSoap" />
            <endpoint address="http://www.webservicex.net/Statistics.asmx"
                binding="customBinding" bindingConfiguration="StatisticsSoap12"
                contract="ServiceReference1.StatisticsSoap" name="StatisticsSoap12" />
        </client>
    </system.serviceModel>
</configuration>